* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
main {
    width: 1440px;
    height: 5000px;
}
.header {
    position: relative;
    height: 100vh;
    background-color: #e6f0ff;
}
/* common */
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.arrow {
    margin-left: 6px;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 12px;
    background-color: #0f1b4c;
    border-radius: 8px;
    color: #e6f0ff;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.content {
    width: 1110px;
    max-width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
/* ---------- Header----------- */
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul {
    display: flex;
    margin-left: 50px;
}
.navbar ul a:hover {
    text-decoration: underline;
}
.navbar ul a {
    padding: 8px 14px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
}
.navbar .actions {
    margin-left: auto;
}
.navbar .link-actions {
    font-weight: 500;
    font-size: 14px;
    color: #0f1b4c;
}
.navbar .btn-actions {
    font-weight: 500;
    font-size: 14px;
    border-radius: 8px;
    color: #fff;
    margin-left: 18px;
}
/* ---------- Hero----------- */
.hero-bar {
    margin-top: 130px;
}
.hero-bar .info {
    width: 51%;
}
.hero-bar .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687691;
}
.hero-bar .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}
.hero-bar .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
}
.hero-cta {
    min-width: 170px;
    margin-top: 40px;
    font-size: 1.3rem;
}
.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0px;
}
/* ---------- Client----------- */
.client {
    margin-top: 122px;
    padding: 43px 0 63px;
}
.client .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.client .desc-row {
    margin-top: 16px;
    font-style: Medium;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}
.client .logo-row {
    margin-top: 96px;
}
/* ---------- Guides----------- */
.guides {
    margin-top: 200px;
    text-align: center;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    align-items: center;
    color: #000339;
}
.guides .sub-title::before {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background-color: #000339;
    border-radius: 12px;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    height: 60px;
    margin: 20px auto 0px;
    line-height: 1.8;
}
.guides-list {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.guides-item {
    margin: 0 70px;
    text-align: center;
}
.guides-item .title {
    margin-top: 26px;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}
.guides-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #0689ff;
}
.guides-cta {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}
.guides-cta .btn {
    min-width: 170px;
    min-height: 50px;
    font-size: 1.3rem;
}
/* ---------- Featured----------- */
.featured {
    margin-top: 120px;
    background-color: #f5fafe;
    padding: 110px 0;
}
.featured .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    text-align: left;
    color: #000339;
}
.featured .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.9;
    letter-spacing: 0em;
    text-align: left;
    color: #5a6473;
}
.featured-cta {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: right;
    color: #0689ff;
}
.featured .list {
    display: flex;
    margin-top: 70px;
    gap: 30px;
    background-color: #f5fafe;
}
.featured .item {
    flex: 1;
    background-color: #ffffff;
}
.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.featured .item .body {
    background-color: #ffffff;
    padding: 17px 20px 24px;
}
.featured .item .title a {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
    color: rgba(0, 3, 57, 1);
}
.featured .item .desc {
    --line-clamp: 3;
    margin-top: 11px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0em;
    color: rgba(163, 166, 171, 1);
}
.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.featured .item .icon {
    margin-left: 23px;
}
.featured .item .icon:first-child {
    margin-left: 0;
}
.featured .item .label {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.01em;
}
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1048px;
}
.stats .row {
    display: flex;
}
.stats .img-block,
.stats .info {
    width: 50%;
}
.stats .img-block {
    position: relative;
}
.stats .img-block .row {
    margin-top: 45px;
}
.stats-trend .row {
    align-items: center;
}
.stats .info {
    padding: 79px 0px 0px 165px;
}
.stats .stats-cm {
    position: absolute;
    width: 239px;
    height: 252px;
}
.stats .img-block .image {
    display: block;
    width: 400px;
    height: 460px;
    object-fit: cover;
    margin-left: auto;
    border-radius: 12px;
}
.stats .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stats .sub-title::before {
    content: "";
    position: absolute;
    display: block;
    height: 4px;
    width: 41px;
    left: 0;
    top: -10px;
    border-radius: 12px;
    background-color: #000339;
}
.stats .info .desc {
    margin-top: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0em;
    text-align: left;
    width: 309px;
}
.stats .stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(168, 59, 59);
    width: 239px;
    height: 252px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.stats-trend .value {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.01em;
    margin: 0 48px 8px 22px;
}
.stats-trend .icon {
    text-align: center;
    margin: 0 22.89px 8px 10px;
}
.stats .desc {
    margin: 0px 22px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    color: #a7a7a7;
}
.stats .separate {
    height: 1.2px;
    width: 193.6px;
    border-radius: 0px;
    background-color: #e9e9e9;
    margin: 20px 22px 0px;
}
.stats .avatar-block {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 26px;
    margin-left: 18px;
}
.stats .avatar-block .avatar-group {
    display: flex;
}
.stats .avatar-block .avatar {
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -3px;
}
.stats .qty-block {
    margin-top: 110px;
}
.qty-block .row {
    justify-content: space-between;
    align-items: center;
}
.qty-block .value {
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0em;
}
.qty-block .qty-desc {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
    color: #7b8087;
    margin-top: 24px;
}
/* ---------- Subcribetion----------- */

.Subcribetion {
    margin-top: 90px;
}

.Subcribetion .body {
    position: relative;
    display: flex;
    height: 370px;
    align-items: center;
    background: #063183;
    border-radius: 20px;
}
.Subcribetion .info {
    width: 671px;
    padding: 0 80px;
}
.Subcribetion .sub-tittle {
    width: 671px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
}
.Subcribetion .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}
.Subcribetion .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
}
.Subcribetion .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
/* ---------- Footer----------- */
.footer {
    margin-top: 55px;
    padding: 50px 0;
}
.footer .row {
    display: flex;
}
.footer .row-top {
    gap: 185px;
}
.footer .heading {
    font-family: "lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0em;
}
.footer .list,
.footer .desc {
    margin-top: 42px;
}
.footer .item {
    margin-top: 18px;
}
.footer .item a,
footer .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: #7a7a7e;
}
.footer .desc {
    white-space: normal;
    line-height: 1.75;
}
.footer .social {
    margin-top: 40px;
}
.footer .social-link {
    width: 28px;
    height: 28px;
    gap: 50px;
    margin-left: 16px;
}

.footer .icon:first-child {
    margin-left: 0;
}
.footer-second {
    display: flex;
    margin-top: 81px;
    align-items: center;
    justify-content: space-between;
}
.footer .copyright {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c2c2c2;
}
